[submodule "third-party/googletest"]
	path = third-party/googletest
	url = https://github.com/google/googletest.git
	branch = release-1.8.1

[submodule "third-party/crow"]
	path = third-party/crow
	url = https://github.com/ipkn/crow.git
	branch = v0.1

[submodule "third-party/pistache"]
	path = third-party/pistache
	url = https://github.com/oktal/pistache.git
